@import "tailwindcss";

:root {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hero {
    height: calc(100vh / 1 - 5.5vh);
}

.hero-content {
    position: relative;
    background-image: url("../assets/hero-bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding-inline: clamp(1rem, 10vw, 6.25rem);

    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 1rem;
}

.hero-content::before {
    content: "";
    position: absolute;
    background: linear-gradient(left to right, #12409633, #12409600, #1240964D);
    background-color: #1240965f;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.text-heading, .search-wrapper {
    position: relative;
    z-index: 2;
}

.text-heading {
    h1 {
        text-shadow: 0px 4.89px 28.35px rgba(218, 204, 255, 0.45);
    }
}

.search-wrapper {
    width: 100%;
    background-color: #F0ECF3;

    & > * {
        flex: 1 1 fit-content;
    }
    .search-input-container {
        width: 100%;
        & .input-group {
            width: 100%;
        }
    }
    input {
        font-family: "Roboto";
        font-size: 1;
        line-height: 1.875rem;
        font-weight: 400;
        color: #AEB9C5;
        width: 100%;
        border: none;
        background-color: transparent;

        &:active,
        &:focus {
            border: none;
            outline: none;
        }

        &::placeholder{
            font-family: "Roboto";
            font-size: 1rem;
            line-height: 1.875rem;
            font-weight: 400;
            color: #AEB9C5;
        }
    }

    .btn-wrapper {
        max-width: fit-content;
    }

    svg {

        path{
            fill: transparent;
            stroke: #AEB9C5;
        }
    }

    .btn-wrapper button{
        line-height: 100%;
        background-color: #124096CC;
        cursor: pointer;
    }
}

.wcu {
    & .container-custom {
        background-color: #EBF0F8;
    }

    & .content {
        padding-inline: clamp(1rem, 10vw, 6.25rem);
        padding-block: clamp(1rem, 5vw, 2.25rem) clamp(1rem, 10vw, 6.25rem);
    }

    & .text-heading {
        max-width: 33rem;

        & h2 {
            color: #262626;
        }

        & p {
            color: #636262;
        }
    }

    & .sub-text {
        & h4 {
            color: #262626;
        }

        & p {
            color: #727272;
        }

    }

    & .card-wrapper .image {
        width: fit-content;
        width: 100px;
        height: 100px;
        padding: 1rem;
        background-color: #12409644;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    & .card-wrapper .image::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        background-color: #1240962c;
        z-index: 1;
    }

    & .card-wrapper .image img {
        width: 50px;
        height: auto;
        position: relative;
        z-index: 2;
    }

    & .card-content {
        & > * {
            flex: 1 1;
        }
    }

    & .btn-wrapper {
        width: fit-content;
    }

    & .btn-wrapper button {
        border-radius: 0.625rem;
        background-color: #124096CC;
        transition: opacity 0.6s ease-in-out;

        &:hover {
            opacity: 0.9;
        }
    }
}

.handigo-pros {

    & .pros-content {
        padding-inline: clamp(1rem, 10vw, 6.25rem);
        padding-block: clamp(1rem, 10vw, 5rem);
    }

    & .review-block {
        & > * {
            flex: 1 1 100%;
        }

        & .image {
            flex-basis: 26.3125rem;

            & img {
                width: 100%;
                height: 100%;
            }
        }
    }

    & .heading {
        h2 {
            font-size: 2.5rem;
            color: #3D63AA;
        }

        p {
            color: #727272CC;
        }

        hr {
            width: 100%;
            border: 0.5px solid #7272724D;
        }

        & .pros-h2-hr h2{
            text-wrap: nowrap;
        }

        & p {
            max-width: 26.375rem;
        }
    }

    & .quote p {
        font-size: 1.6rem;
        line-height: 3rem;
        color: #3D63AA;
    }

    & .review-block {
        & hr {
            width: 100%;
            border: 0.5px solid #3D63AA4D;
        }
    }

    & .text-content .location-slideCount span  {
        color: #727272;
    }

    & .ratings-slide-navigation span {
        color: #727272;
    }

    & .ratings-slide-navigation svg {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

        & path {
            fill: #3D63AA;
        }

    }

}

.WNLH {

    & .WNLH-content {
        padding-inline: clamp(1rem, 10vw, 6.25rem);
        padding-block: clamp(1rem, 10vw, 5rem);
    }

    & .heading {
        gap: 1.0625rem;

        & h2 {
            font-size: 2.5rem;
            line-height: 3.125rem;
            color: #3D63AA;
            max-width: 31.6875rem;
        }

        & p {
            line-height: 2rem;
            color: #727272;
        }
    }

    & .carousel-wrapper {
        position: relative;

        & .slide {
            & > * {
                flex: 1 1 100%;
            }

            & .text-content {
                padding-inline: clamp(1rem, 10vw, 6rem);
                padding-block: clamp(1rem, 10vw, 3rem);
                background-color: #12409633;
                box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
                min-height: 33.75rem;
            }

            & .image-content {
                width: 100%;

                & .image {
                    width: 100%;
                }

                & img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        & .text p {
            font-size: 1.375rem;
            line-height: 2.1875rem;
            color: #124096CC;
        }

        & .name-icon .name {
            & span {
                line-height: 1.8rem;
                color: #124096;
            }

            & p {
                line-height: 1.25rem;
                color: #124096CC;
            }
        }
    }

    & .navigotions-arrow {
        position: absolute;
        width: 100%;
        height: 100%;

        & svg {
            width: 4.375rem;
            height: auto;
            cursor: pointer;

            & path {
                fill: #809CD1;
            }
        }
    }
}

.faq {
    background-color: #EBF0F8;

    & .faq-content {
        padding-inline: clamp(1rem, 10vw, 6.25rem);
        padding-block: clamp(1rem, 10vw, 5rem);
    }

    & .text-heading {
        h2 {
            font-size: 2.5rem;
            line-height: 4.5rem;
            color: #262626;
        }

        p {
            line-height: 180%;
            color: #010C287A;
        }
    }

    & .card-container {
        margin-top: 0.25rem;
    }

    & .card-wrapper {

        & .question-icon {
            /* display: none; */
            padding: 0.7rem 1.5rem;
            background-color: #F8F8F8;
            margin-top: 0.125;
            border-bottom: 1px solid #00000033;
        }

        & .question-icon {
            cursor: pointer;

            &.active {
                background-color: #124096;
                color: #F5E6CC;
            }

            & svg {
                width: 1.5rem;
                height: 1.5rem;
                transition: rotate 0.5s ease-in-out;
            }

            &.active svg {
                transform: rotateX(180deg);

                & path[fill="#000"] {
                    fill: #F5E6CC;
                }
            }
        }

        & .answer {
            /* display: none; */
            padding: 0.7rem 1.5rem;
            background-color: #F8F8F8;
            color: #707070;
            margin-top: 0.125;
        }
    }
}
